<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 http://maven.apache.org/xsd/settings-1.2.0.xsd"
    xmlns="http://maven.apache.org/SETTINGS/1.2.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>${MB_ARTIFACTORY_USER}</username>
            <password>${MB_ARTIFACTORY_PSSWD}</password>
            <id>central</id>
        </server>
        <server>
            <username>${MB_ARTIFACTORY_USER}</username>
            <password>${MB_ARTIFACTORY_PSSWD}</password>
            <id>snapshots</id>
        </server>
        <!-- Mule Specific-->
        <server>
            <id>MuleRepository</id>
            <username>${MULE_ARTIFACTORY_USER}</username>
            <password>${MULE_ARTIFACTORY_PSSWD}</password>
        </server>
        <server>
            <id>anypoint-exchange-v3</id>
            <username>~~~Client~~~</username>
            <password>${ANYPOINT_EXCHANGE_MAVEN_APP_ID}~?~${ANYPOINT_EXCHANGE_MAVEN_APP_SECRET}</password>
        </server>
        <!-- END OF Mule Specific-->
    </servers>
    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>amsdmo-maven-virtual-releases</name>
                    <url>https://artifacts.i.mercedes-benz.com/artifactory/amsdmo-maven-virtual-releases</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>amsdmo-maven-virtual-snapshots</name>
                    <url>https://artifacts.i.mercedes-benz.com/artifactory/amsdmo-maven-virtual-snapshots</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>amsdmo-maven-virtual-releases</name>
                    <url>https://artifacts.i.mercedes-benz.com/artifactory/amsdmo-maven-virtual-releases</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>amsdmo-maven-virtual-snapshots</name>
                    <url>https://artifacts.i.mercedes-benz.com/artifactory/amsdmo-maven-virtual-snapshots</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
        <!-- MuleSoft Enterprise Repo -->
        <profile>
            <id>Mule</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>MuleRepository</id>
                    <name>MuleRepository</name>
                    <url>https://repository.mulesoft.org/nexus-ee/content/repositories/releases-ee/</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>Repository-NEW</id>
                    <name>Repository</name>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>mule-public</id>
                    <url>https://repository.mulesoft.org/nexus/content/repositories/public</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
        <!-- END OFMuleSoft Enterprise Repo -->
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
</settings>
